{% extends 'base.html.twig' %}

{% block body %}
    {#{% form_theme artisteForm 'bootstrap_3_layout.html.twig' %}#}
    {#Dans config/package/twig.yaml#}

    {% if 'app_serie_create' == currentRoute %}
        <h3>Creation d'une nouvelle série</h3>
        {#{% elseif 'app_groupemusculaire_update' == currentRoute %}
        <h3>Modification du groupe {{ groupeMusculaire.name }}</h3>#}
    {% endif %}

    {{ form_start(serieForm) }}

    {{ form_widget(serieForm) }}

    <button class="btn btn-primary" type="submit">Envoyer</button>
    {{ form_end(serieForm) }}

{% endblock %}